body {
    font-family: 'Roboto', sans-serif;
        /* The image used */
        background-image: url(./images/time-bg.jpg);
        /* Full height */
        height: 100%;
    
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
}
@media only screen and (min-width: 600px) {
    .comp_app {
      width: 60%;
      align-items: center;
    }
}